{% extends 'master.html' %}

{% block contents %}

    {% for key,value in errors.items %}
        {{ key }} {{ value }}<br />
    {% endfor %}

   <form method="post" action="">
     <div>
       Recipe name: <input type="text" name="name"><br />
       <div id="cInput1" class="cInput">
           <div class="recipe">
               <input type="text" class="ingredient qty" name="qty1" id="qty1" />
               <input type="text" class="ingredient unit" name="unit1" id="unit1" />
               <input type="text" class="ingredient" name="ingredient1" id="ingredient1" />
           </div>
       </div>
       <input type="submit" name="submit">
     </div>
   </form>

    <script type="text/javascript">
        var num = 0;
        $(document).ready(function() {
            num = $('.cInput').length;	// how many "duplicatable" input fields we currently have

            $('#qty' + num).keydown(function(event) {
                if ($('#qty' + num).length > 0) addIngredientFields();
            });
        })

        function addIngredientFields() {
            var newNum	= new Number(num + 1);		// the numeric ID of the new input field being added

            // create the new element via clone(), and manipulate it's ID using newNum value
            var newElem = $('#cInput' + num).clone().attr('id', 'cInput' + newNum);

            // manipulate the name/id values of the input inside the new element
            newElem.children(':first').children('#qty' + num).attr('id', 'qty' + newNum).attr('name', 'qty' + newNum);
            newElem.children(':first').children('#unit' + num).attr('id', 'unit' + newNum).attr('name', 'unit' + newNum);
            newElem.children(':first').children('#ingredient' + num).attr('id', 'ingredient' + newNum).attr('name', 'ingredient' + newNum);

            // insert the new element after the last "duplicatable" input field
            $('#cInput' + num).after(newElem);
            num++;
            registerEvent(num);
            unregisterEvent(num);
        }

        function removeIngredientFields(id) {
            $('#cInput' + id).remove(this);
        }

        function registerEvent(id) {
            $('#qty' + id).keydown(function(event) {
                if ($('#qty' + id).length == 1)
                    addIngredientFields();
            });
        }

        function unregisterEvent(id) {
            $('#qty' + (id -1)).unbind('keydown');
        }
    </script>
{% endblock %}